/* all */
*{
  margin: 0;
  padding: 0;
}

.container{
  width: 80%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

header, main, section, footer{
  width: 100%;
}

/* content related to header */
header{
  margin-bottom: 20px;
  background-color: palevioletred;
}

.logo>img{
  width: 150px;
  border-right: 1px solid #A0A0A0;
  padding-right: 20px;
}

nav{
  margin: 20px 0;
}

nav li{
  list-style: none;
  display: inline;
  text-transform: uppercase;
  padding-right: 20px;
  font-size: 14px;
  color: #A0A0A0;
}

/* clearfix */
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* section */
section.box-image{
  margin: 15px 0;
  height: 200px;
  background-color: yellowgreen;
}

section.box-content{
  margin: 15px 0 5px;
  background-color: royalblue;
}

section.box-content{
  background-color: blue;
}

/* boxes in section 2 */
div.space{
  background-color: skyblue;
}

.box-top{
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}

.box-left, .box-center, .box-right{
  float: left;
  height: 200px;
  margin-bottom: 8px;
}

.box-left{
  width: 23%;
}

.box-center{
  width: 50%;
  margin-left: 2%;
  margin-right: 2%;
}

.box-right{
  width: 23%;
}

/* footer */
footer{
  height: 50px;
  background-color: purple;
}