/* all */
*{
  margin: 0;
  padding: 0;
}

/* margini e carattere di tutta la pagina */
.container{
  width: 80%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}

/* margine basso */
header{
  margin-bottom: 20px;
}

/* logo dell'header */
.logo>img{
  width: 15%;
  border-right: 1px solid #A0A0A0;
  padding-right: 20px;
}

/* specifiche del nav */
nav{
  margin: 20px 0;
}

nav li{
  list-style: none;
  display: inline;
  text-transform: uppercase;
  padding-right: 20px;
  font-size: 14px;
}

nav a{
  text-decoration: none;
  color: #A0A0A0;
}

/* clearfix */
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

/* tutti i p hanno la stessa dimesione */
p{
  font-size: 14px;
  text-overflow: ellipsis;
}

/* elementi comuni dell'immagine di sfondo */
.sfondo-1{
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

/* section 1 banner princiaple*/
.banner{
  margin: 15px 0;
  color: #FDFDFD;
  background-image: url('../img/banner.jpg');
}

.banner .sfondo-banner{
  height: 350px;
  border-radius: 10px;
  background-color: rgb(160, 160, 160, 0.5);
}

.banner .testo{
  width: 55%;
  margin: auto;
  padding-top: 200px;
  padding-right: 200px;
  padding-bottom: 40px;
}

.banner p::after{
  content: '...';
}

/* boxes in section 2 */
.box-content{
  margin: 15px 0 5px;
}

.box-content p{
  color: #A9A9A9;
}

/* content in box-top */
.box-top{
  width: 100%;
  margin-bottom: 35px;
}

.box-top h2{
  font-size: 30px;
  font-weight: 900;
}

.box-left, .box-center, .box-right{
  float: left;
  margin-bottom: 8px;
}

/* sfondo grigio colonne */
.sfondo-2{
  height: 150px;
  border-radius: 10px;
  background-color: rgb(160, 160, 160, 0.5);
}

/* boxes dimensioni e margini*/
.box-left{
  width: 23%;
}

.box-center{
  width: 50%;
  margin-left: 2%;
  margin-right: 2%;
}

.box-right{
  width: 23%;
}

/* boxes immagini */
.img-1, .banner-2, .img-3{
  height: 150px;
}

.box-left .img-1{
  background-image: url('../img/img-1.jpg');
}

.box-center .banner-2{
  background-image: url('../img/banner-2.jpg');
}

.box-right .img-3{
  background-image: url('../img/img-3.jpg');
}

/* footer */
footer{
  padding: 20px 0;
  text-align: center;
}

footer p::after{
  content: '\2665';
  color: red;
}